@model List<UserViewModel>

<div class="row">
    <div class="col-12">
        <table class="table">
            <tbody>
                <tr>
                    <td scope="col">
                        @await Component.InvokeAsync("AdminsMenu")
                    </td>
                    <td scope="col">
                        <h4> Список пользователей </h4>
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">№</th>
                                        <th scope="col">Пользователь</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Телефон</th>                                        
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td> @(i + 1)  </td>
                                            <td> @Model[i].Login</td>
                                            <td> @Model[i].Name</td>
                                            <td> @Model[i].Phone</td>                                            
                                            <td><a asp-area="Admin" asp-controller="Users" asp-action="UserDetails" asp-route-login="@Model[i].Login"> Подробнее </a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Account" asp-action="Register"> Добавить пользователя </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


